@import "tailwindcss";

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SPACE';
  src: url('/fonts/SPACE.ttf');
  font-weight: normal;
  font-style: normal;
}

body, html{
    height:100%;
    width: 100%;
    font-family: Helvetica;
}

#heading{
    font-family: SPACE;
}